# -----------------------------
# Web Environment & Build
# -----------------------------
dist/
.astro/
node_modules/

# -----------------------------
# Logs & Diagnostic
# -----------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# -----------------------------
# Environment & Secrets (DevSecOps)
# -----------------------------
.env
.env.*
!.env.example
*.pem
*.key
*.cert

# -----------------------------
# System & Editor Utilities
# -----------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/

# -----------------------------
# Coverage & Test Artifacts
# -----------------------------
coverage/
.nyc_output/
playwright-report/
test-results/
