---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/en/Navbar.astro";
import Hero from "../components/en/Hero.astro";
import About from "../components/en/About.astro";
import Projects from "../components/en/Projects.astro";
import CTA from "../components/en/CTA.astro";
import Contact from "../components/en/Contact.astro";
import Footer from "../components/en/Footer.astro";
---

<Layout title="Sebastian Zhunaula | Full Stack Architect" lang="en">
    <Navbar />
    <main>
        <Hero />
        <About />
        <CTA />
        <Projects />
        <Contact />
    </main>
    <Footer />
</Layout>

<style>
    /* Any page-specific styles */
</style>
